body{
    background-color: black;
}
   
div{
    position: absolute;
    margin-left: 18%;
   background-color: #828080;;
   width: 60%;

}
ul{
    font-weight: bold;
    position: relative;
    width: 100%; 
    padding: 0%;
  
}
a{
    color: black;
    text-decoration: none;
}
.a1{color:white;
    text-decoration: none;
}




li{
      margin-left: 0%;
        background-color:#828080;
        color: black;
        padding: 16px 20px;
        text-decoration: none;
        border-radius: 0px 0px 0 0;
        font-family: Arial, Helvetica, sans-serif;
        display: inline;
    }
   
    li#inicio  {
        background-color:#FD9B42;
       
        padding: 16px 20px;
        text-decoration: none;
        border-radius: 0px 0px 0 0;
        color: white;
       
    }
   li:hover {
        background-color:#B8B8B8;
        text-decoration: underline; 
        
    }
   #inicio:hover {
        background-color:#FD9B42;
        text-decoration: underline; 
        
    }
    img{
        margin-left: 17%;
    }
   